<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Login</title>
    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" th:href="@{/webjars/bootstrap/4.0.0/css/bootstrap.css}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="css/signin.css" th:href="@{/css/signin.css}" rel="stylesheet">
</head>
<body>
<form class="form-signin" action="/signUp" method="post">
    <img class="mb-4" th:src="@{/img/bootstrap-solid.svg}" src="img/bootstrap-solid.svg" alt="" width="72" height="72">
    <h1 class="h3 mb-3 font-weight-normal">Please sign up</h1>
    <label class="sr-only" >Username</label>
    <input type="text"  name="username" class="form-control" placeholder="Username" th:placeholder="Username" required="" autofocus="">
    <label class="sr-only" >Password</label>
    <input type="password" name="password" class="form-control" placeholder="Password" th:placeholder="Password" required="">
    <label class="sr-only" >Password</label>
    <input type="password" name="passwordAgain" class="form-control" placeholder="PasswordAgain" th:placeholder="PasswordAgain" required="">
    <button class="btn btn-lg btn-primary btn-block" type="submit" >确定</button>
    <p class="mt-5 mb-3 text-muted">© 2017-2018</p>
</form>
</body>
</html>