<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>teacherMain</title>
  <link rel="stylesheet" href="css/teacherMain.css">
</head>
<body>
<h2 class="title">教师 <span>主界面</span></h2>
<div class="contenedor-acordeon" id="acordeon-content">
  <div class="acordeon">
    <div class="acordeon__head">
      <p class="acordeon__head--title">试题管理</p><span class="fa fa-chevron-down icon"></span>
    </div>
    <div class="acordeon__body">
      <div class="acordeon__body__menu">
        <li><a href="/question/showQuestion">显示试题</a></li>
      </div>
    </div>
  </div>
<!--  <div class="acordeon">-->
<!--    <div class="acordeon__head">-->
<!--      <p class="acordeon__head&#45;&#45;title">学生管理</p><span class="fa fa-chevron-down icon"></span>-->
<!--    </div>-->
<!--    <div class="acordeon__body">-->
<!--      <div class="acordeon__body__menu">-->
<!--        <li><a href="/student/showStudent">展示学生</a></li>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
</div>
<script  src="js/teacherMain.js"></script>
</body>

</html>
